* {
    box-sizing: border-box;
}
.navbar {
    width: 100%;
    background-color: #71b85f;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    left: 0px;
    padding: 20px 30px;
    border-bottom: 1px solid #ccc;
    z-index: 20;
}

.navbar-logo img {
    width: 134px;
    height: 50px;
    vertical-align: middle;
}

.navbar-menu {
    margin-left: 20px;
}

.navbar-link-list {
    display: flex;
    align-items: center;
}
.navbar-link {
    position: relative;
    font-size: 22px;
    font-weight: 500;
    color: #f8fbf7;
    text-align: center;
    text-decoration: none;
    padding: 15px 0px 10px;
    margin: 0px 20px;
}

.navbar-link li::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: transparent;
}

.navbar-link:hover li::after {
    bottom: -2px;
    background-color: #f8fbf7;
}

.order-toggle {
    width: 75px;
    height: 75px;
    position: fixed;
    top: 35px;
    right: 55px;
    background-color: #f9f9f9;
    font-size: 30px;
    text-align: center;
    line-height: 75px;
    border-radius: 10em;
    box-shadow: 3px 12px 15px rgba(0, 0, 0, 0.1);
}

.layout-toggle {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 120px;
    right: 0px;
    background-color: #f9f9f9;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.up-to-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background-color: #71b85f;
    border-radius: 10em;
    box-shadow: inset 0px -4px 2px rgb(0 0 0 / 25%);
}

.banner {
    width: 100%;
    background-color: #71b85f;
    padding-left: 30px;
}

.banner-container {
    display: flex;
}

.banner-text {
    display: flex;
    flex-direction: column;
    color: #fff;
    z-index: 10;
    position: relative;
}

.banner-text h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.125em;
    padding-bottom: 36px;
}

.banner-text h3 {
    font-size: 22px;
    line-height: 1.25em;
    padding-bottom: 72px;
}

.banner-text .slogan {
    font-size: 24px;
    padding: 60px 0px;
    order: -1;
}

.switch-list {
    display: flex;
}

.switch-list li {
    width: 65px;
    height: 65px;
    font-size: 32px;
    line-height: 65px;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}

.switch-list li:hover {
    border-bottom: 3px solid #fff;
}

.tag {
    width: 50;
    height: 50;
    background-color: #ffee58;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
    border-radius: 10em;
    position: absolute;
    top: 130px;
    left: -15px;
}

.banner-pic {
    background-color: #fff;
    clip-path: circle(95.4% at 98% 50%);
    z-index: 10;
}

.about-us {
    width: 100%;
    display: flex;
    padding-top: 50px;
    background-color: #f9f9f9;
    padding-left: 100px;
    padding-right: 100px;
}

.head-chef {
    position: relative;
}

.chef-name {
    position: absolute;
    top: 190px;
    right: 20px;
    border: 3px solid #d6d6d6;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.125em;
}

.chef-name span {
    display: block;
    font-weight: 400;
}

.chef-name::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -20px;
    left: 15px;
    width: 0;
    height: 0;
    border-top: 20px solid #d6d6d6;
    border-right: 20px solid transparent;
}

.chef-name::before {
    content: "";
    display: block;
    position: absolute;
    left: 16px;
    bottom: -16px;
    width: 0;
    height: 0;
    border-top: 16px solid #f9f9f9;
    border-right: 16px solid transparent;
    z-index: 1;
}

.head-chef img {
    vertical-align: middle;
}

.summary {
    margin-left: 80px;
    padding-right: 80px;
}

.summary-text {
    display: flex;
    flex-direction: column;
}

.summary-text h2 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 23px;
    line-height: 1.225em;
}

.summary-text p {
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.7em;
    margin-top: 34px;
}

.summary-slogan {
    font-size: 20px;
    color: #7c7c7c;
    order: -1;
    margin-top: 80px;
}

.summary-list {
    font-size: 22px;
    font-weight: 600;
    margin-top: 24px;
    line-height: 1.7em;
}

.summary-list li {
    padding-left: 33px;
    margin-top: 3px;
    position: relative;
}

.summary-list li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #71b85f;
    position: absolute;
    top: 18px;
    left: 0px;
}

.read-more-btn {
    width: 210px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #71b85f;
    margin-top: 50px;
    border-radius: 5em;
    box-shadow: inset 0px -4px 2px rgb(0 0 0 / 25%);
}

.read-more-btn a {
    text-decoration: none;
    color: #fff;
}

.read-more-btn:hover {
    background-color: #000;
}

.food-packages {
    width: 100%;
    background-color: #71b85f;
    padding-top: 80px;
    padding-bottom: 110px;
}

.food-heading {
    text-align: center;
}

.food-heading span {
    font-size: 20px;
    color: #b8dcaf;
    display: block;
    margin-bottom: 40px;
}

.food-heading h2 {
    font-size: 48px;
    color: #fff;
    font-weight: 700;
    line-height: 1.25em;
}

.packages-programs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    justify-content: space-evenly;
    align-items: flex-start;
}

.program-container {
    width: 320px;
    padding: 50px 30px 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    border-radius: 1em 5em 5em 5em;
    box-shadow: 3px 12px 15px rgba(0, 0, 0, 0.1);
}

.program-container h3 {
    font-size: 22px;
    font-weight: 600;
    color: #000;
}

.program-price {
    display: flex;
    flex-wrap: wrap;
    width: 120px;
    margin: 50px 0px;
    font-size: 22px;
}

.program-price large {
    font-size: 77px;
}

.program-price span {
    font-size: 18px;
    margin-left: auto;
}

.program-container p {
    font-size: 18px;
    color: #4c4c4c;
    line-height: 1.5em;
    margin-bottom: 30px;
}

.order-btn {
    width: 210px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 30px;
    text-align: center;
    background-color: #71b85f;
    border-radius: 5em;
    box-shadow: inset 0px -4px 2px rgb(0 0 0 / 25%);
}

.order-btn a {
    text-decoration: none;
    color: #fff;
}

.order-btn:hover {
    background-color: #000;
}

.open-menu {
    padding-left: 1em;
}

.open-menu a {
    text-decoration: none;
    color: #000;
    padding-bottom: 9px;
    border-bottom: 1px solid #000;
}

.open-menu a:hover {
    color: #71b85f;
}

.program-pic {
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 10em;
    box-shadow: 0 0 80px rgb(0, 0, 0, 0.2);
}

.health-step {
    width: 100%;
    padding: 75px 40px 110px;
}

.step-heading {
    text-align: center;
}
.step-heading span {
    font-size: 20px;
    display: block;
    color: #7f7f7f;
    margin-bottom: 40px;
}

.step-heading h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.125em;
    color: #000;
}

.step-container {
    display: flex;
    align-items: center;
    margin-top: 110px;
}

.step {
    width: 300px;
    padding: 50px 15px 25px 40px;
    border-radius: 25% 3%;
    position: relative;
}

.step1 {
    background-color: #fff8bd;
}
.step2 {
    background-color: #ecfcf9;
}
.step3 {
    background-color: #dff9d9;
}

.arrow1to2,
.arrow2to3 {
    margin: 0px 8px;
    position: relative;
}

.step h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.25em;
    margin-bottom: 20px;
}

.step p {
    font-size: 18px;
    line-height: 1.25em;
}

.step-tag {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: #afabab;
    background-color: #fff;
    border-radius: 10em;
    position: absolute;
    top: -10px;
    left: -10px;
    box-shadow: 0 0 80px rgb(0, 0, 0, 0.2);
}

.step:hover {
    bottom: 5px;
}

.food-features {
    width: 100%;
    background-color: #71b85f;
    display: flex;
    overflow: hidden;
}
.features-wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 140px 0px 0px;
}

.feature-container {
    width: 350px;
    padding: 25px;
    margin-bottom: 40px;
    color: #fff;
}

.feature-heading {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
}

.feature-heading .fas,
.feature-heading .far {
    font-size: 48px;
}

.feature-heading h3 {
    font-size: 22px;
    padding-left: 1em;
}

.feature-container p {
    font-size: 18px;
    line-height: 1.5em;
}

.pic-wrap {
    width: 960px;
    position: relative;
}

.food-pic1 {
    position: absolute;
    left: -80px;
    top: 40px;
}

.food-pic2 {
    position: absolute;
    top: 20px;
    right: -145px;
}

.food-pic3 {
    position: absolute;
    top: 280px;
    left: 0px;
    bottom: -110;
}

.food-pic4 {
    position: absolute;
    bottom: 50px;
    right: -150px;
}

.clients-section {
    width: 100%;
    display: flex;
    padding-top: 80px;
    padding-bottom: 110px;
    justify-content: center;
}

.clients-photo {
    width: 50%;
}

.clients-feedback {
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.feedback-slogan {
    order: -1;
    margin-top: 35px;
    font-size: 22px;
    color: #7f7f7f;
}

.clients-feedback h2 {
    font-size: 48px;
    margin-top: 40px;
    font-weight: 700;
}

.clients-feedback p {
    font-size: 20px;
    color: #7f7f7f;
    line-height: 1.5em;
    margin-top: 50px;
    padding-left: 3em;
    padding-right: 3em;
}
.quote-img {
    position: absolute;
    top: 200px;
    left: 0px;
}

.clients-name {
    font-size: 22px;
    font-weight: 500;
    margin: 50px 0px;
    padding-left: 2.75em;
}

.change-client {
    padding-left: 3.75em;
    margin-bottom: 50px;
    display: flex;
}

.change-client div {
    width: 30px;
    height: 2px;
    margin-right: 10px;
    background-color: #000;
}

.send-review {
    width: 210px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
    background-color: #71b85f;
    border-radius: 5em;
    box-shadow: inset 0px -4px 2px rgb(0 0 0 / 25%);
}

.send-review:hover {
    background-color: #000;
}

.clients-pic img {
    display: block;
}

.clients-pic img:hover {
    border: 5px solid #dff9d9;
    padding: 5px;
    border-radius: 10em;
}

.clients-photo {
    position: relative;
}

.clients-pic1 {
    position: absolute;
    right: 90px;
    top: -20px;
}

.clients-pic2 {
    position: absolute;
    left: 20px;
    top: 150px;
}

.clients-pic3 {
    position: absolute;
    right: 50px;
    bottom: 0px;
}

footer {
    width: 100%;
    background-color: #f9f9f9;
    padding-top: 100px;
    padding-bottom: 120px;
    border-top: 1px solid #ccc;
}

.foot-container {
    display: flex;
}

.web-icon {
    flex-grow: 2;
    padding: 0px 30px;
}

.web-icon img {
    width: 135px;
    height: 50px;
    vertical-align: middle;
}

.copyright {
    font-size: 14px;
    color: #d3d3d3;
    margin-top: 50px;
}

.contact {
    flex-grow: 2;
}
.quick-links {
    flex-grow: 1;
}
.food-link {
    flex-grow: 1;
}

.contact h3,
.quick-links h3,
.food-link h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
}

.contact-ways,
.address {
    line-height: 1.5em;
    margin-bottom: 40px;
}

.social-media {
    display: flex;
}

.social-media i {
    display: block;
    width: 30px;
    height: 30px;
    padding: 5px;
    text-align: center;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 1em;
}

.quick-links ul li,
.food-link ul li {
    padding: 5px 0px;
}
